spring:
  application:
    name: ai-code-master
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ai_code_master
    username: root
    password: root
  profiles:
    active: local
server:
  port: 8123
  servlet:
    context-path: /api
# springdoc-openapi
springdoc:
  group-configs:
    - group: 'default'
      packages-to-scan: com.jamin.aicodemaster.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn

